<section class="page-card">
  <div class="page-heading">
    <div class="header-main">
      <div>
        <p class="eyebrow">Admin Panel</p>
        <h2>จัดการสินค้า: Edit / Delete</h2>
      </div>
      <button type="button" class="btn-add" routerLink="/admin/add-product">
        + เพิ่มสินค้าใหม่
      </button>
    </div>
    <p>หน้านี้ต่อกับระบบ Backend เรียบร้อยแล้ว</p>
  </div>

  <div class="admin-grid">
    <article class="admin-item" *ngFor="let item of items">
      
      <div class="item-details" *ngIf="editingId !== item.id">
        <strong>{{ item.name }}</strong>
        <p class="description">{{ item.description }}</p>
        
        <div class="item-meta">
          <span class="price">ราคา: <strong>{{ item.price | number }}</strong> บาท <br></span>
          <span class="stock">คงเหลือ: <strong>{{ item.quantity | number }}</strong> ชิ้น</span>
          <br>
          <span class="status-badge" [ngClass]="item.isActive ? 'active' : 'inactive'">
            {{ item.isActive ? 'วางขายอยู่' : 'ปิดการขาย' }}
          </span>
        </div>

        <div class="admin-actions" style="margin-top: 12px;">
          <button type="button" class="btn-edit" (click)="startEdit(item)">Edit</button>
          <button type="button" class="danger btn-delete" (click)="deleteItem(item.id)">Delete</button>
        </div>
      </div>

      <div class="item-edit-form" *ngIf="editingId === item.id">
        <div class="form-group">
          <label>ชื่อสินค้า</label>
          <input type="text" [(ngModel)]="editFormClone.name" class="inline-input" />
        </div>

        <div class="form-group">
          <label>รายละเอียด</label>
          <input type="text" [(ngModel)]="editFormClone.description" class="inline-input" />
        </div>

        <div class="form-row-split">
          <div class="form-group">
            <label>ราคา (บาท)</label>
            <input type="number" [(ngModel)]="editFormClone.price" class="inline-input" />
          </div>
          <div class="form-group">
            <label>คงเหลือ</label>
            <input type="number" [(ngModel)]="editFormClone.quantity" class="inline-input" />
          </div>
        </div>
        
        <div class="admin-actions edit-mode-actions">
          <button type="button" class="btn-save" (click)="saveEdit()">Save</button>
          <button type="button" class="btn-cancel" (click)="cancelEdit()">Cancel</button>
        </div>
      </div>

    </article>
  </div>
</section>